<h2>Profile Information</h2>
<%= link_to 'Change Account Information', edit_user_registration_path %>
<%= form_for @user, method: :patch do |f| %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :image, "Paste a URL for your profile image (Note: This will be your Facebook picture's URL already if you are logged in.)" %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, [['Male','Male'],['Female','Female']] %>
  </div>
  <div class="field">
    <%= f.label :hometown %><br />
    <%= f.text_field :hometown %>
  </div>
  <div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label :grad_year %><br />
    <%= f.select :grad_year, (Time.zone.now.year - 10)..(Time.zone.now.year + 10) %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :move_in_date %><br />
    <%= f.text_field :move_in_date %>
  </div>
  <div class="field">
    <%= f.label :bedrooms %><br />
    <%= f.select :bedrooms, [['Studio','Studio'],['One','One'],['Two','Two'],['Three','Three'],['Four','Four']] %>
  </div>
  <div class="field">
    <%= f.label :budget %><br />
    <%= f.select :budget, [['No Preference','Flexible budget'],['$500-$600','$500-$600'],['$600-$700','$600-$700'],['$700-$800','$700-$800'],['$800-$900','$800-$900'],['$900-$1000','$900-1000'],['$1000-$1100','$1000-$1100'],['$1100-$1200','$1100-$1200'],['$1200-$1300','$1200-$1300'],['$1300-$1400','$1300-$1400'],['$1400-$1500','$1400-1500']] %>
  </div>
  <div class="field">
    <%= f.label :smoking_preference %><br />
    <%= f.select :smoking_preference, [['No Preference','No Preference'],['No Smoking!','No Smoking!'],['Smoking Allowed','Smoking Allowed']] %>
  </div>
  <div class="field">
    <%= f.label :drinking_preference %><br />
    <%= f.select :drinking_preference, [['No Preference','No Preference'],['I would rather not drink','I would rather not drink'],['Party animal','Party animal']] %>
  </div>
  <div class="field">
    <%= f.label :cleanliness %><br />
    <%= f.select :cleanliness, [['No Preference','No Preference'],['A messy room is fine','A messy room is fine'],['Clean freak and proud of it','Clean freak and proud of it']] %>
  </div>
  <%= f.submit "Update Profile" %>
<% end %>