<div>
  <h1>Find Your Roommate</h1>

  <% @users.each do |user| %>
    <% if user.first_name %>
      <div id="user-wrapper" class="col-md-12">
      <div class="col-md-1"></div>
        <div class="col-md-3">
          <% if user.image && user.image != ("" || " ") %>
            <%= image_tag(user.image, class: "img-responsive img-thumbnail", width: "55", height: "55") %>
          <% else %>
            <div class="thumbnail" style="width: 50px; height: 50px;">
            <span style="font-size:2.5em;" class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </div>  
          <% end %>
          <h4><%= "#{user.first_name} #{user.last_name}" %></h4>
        </div>
        <div class="col-md-4">
          <% if user.hometown && user.school && user.city != "" %> 
          <p>I'm from <%= user.hometown %> and study at <%= user.school %></p>
          <p>Studying abroad in: <%= user.city %></p>
          <% else %>
          <p>I'm studying abroad and need a roommate! PM me <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> </p>
          <% end %>
        </div>
      <div class="col-md-1"></div>
        <div class="col-md-3">
          <%= link_to "View Profile", user_path(user), class: "btn btn-default btn-md" %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= will_paginate @users %>

</div>

<!-- One missing feature still is displaying the number of the mutual friends when logged in w/ FB... The only thing I could think of was assign all user_friends returned by FB to each user object and then find the similarities in those arrays and display the count. -->
<!-- Last thing is either filters (hide/show using jQuery depending on radio buttons that are checked maybe?) or fuzzy search (good examples would be Fuse.js or Fuzzily) -->