<div id="profile-wrapper" class="col-md-12">

<div class="col-md-4">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <% if @user.image && @user.image != ("" || " ") %>
    <%= image_tag(@user.image, class: "img-responsive img-thumbnail", width: "200", height: "200") %>
  <% else %>
    <div class="thumbnail" style="width: 200px; height: 200px;">
    <span style="font-size:13.5em;" class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </div>
  <% end %>

    <% if @user.id == current_user.id %>
      <%= link_to "Edit Profile Information", edit_user_path(@user), class: "btn btn-default btn-md" %>
    <% end %>
    <% if @user.id != current_user.id %>
      <%= link_to "Send Message", new_message_path(:user => @user.id), class: "btn btn-primary btn-md" %>
    <% end %>
</div>

<div class="col-md-4" style="padding-top:4em;">
  <h4>Personal Info</h4>
    <ul>
    <li>Gender: <%= @user.gender %></li>
    <li>Age: <%= @user.age %></li>
    <li>Hometown: <%= @user.hometown %></li>
    <li>College/University: <%= @user.school %></li>
    <li>Studying abroad in <%= @user.city %></li>
    <% if @user.move_in_date %>
    <li>Move-in date on <%= @user.move_in_date.strftime("%m/%d/%Y") %></li>
    <% end %>
  </ul>
</div>

<div class="col-md-4" style="padding-top:4em;">
  <h4>Housing Info</h4>
  <ul>
    <% if @user.bedrooms == "Studio" %>
      <li>Looking for a roommate in a studio apartment.</li>
    <% else %>
      <li>Looking for a roommate in a <%= @user.bedrooms %> bedroom apartment.</li>
    <% end %>
    <li>Willing to spend: <%= @user.budget %></li>
    <li>Smoking preference: <%= @user.smoking_preference %></li>
    <li>Drinking preference: <%= @user.drinking_preference %></li>
    <li>Cleanliness preference: <%= @user.cleanliness %></li>
  </ul>
</div>

</div>
