
<div class="jumbotron" style="margin-bottom:0; background-color:#12c3f3">

<div class="css-slideshow">
  <figure> 
    <%= image_tag("prague_saa.jpg", :width => "495", :height => "370") %> 
    <figcaption><strong>Prague:</strong> SAA has apartments in Prague!</figcaption> 
  </figure>
  <figure> 
    <%= image_tag("florence_saa.jpg", :width => "495", :height => "370") %> 
    <figcaption><strong>Florence:</strong> SAA has apartments in Florence!</figcaption> 
  </figure>
  <figure> 
    <%= image_tag("rome_saa.jpg", :width => "495", :height => "370") %> 
    <figcaption><strong>Rome:</strong> SAA has apartments in Rome!</figcaption> 
  </figure>
  <figure> 
    <%= image_tag("barcelona_saa.jpg", :width => "495", :height => "370") %> 
    <figcaption><strong>Barcelona:</strong> SAA has apartments in Barcelona!</figcaption> 
  </figure>
  <figure> 
    <%= image_tag("london_saa.jpg", :width => "495", :height => "370") %> 
    <figcaption><strong>London:</strong> SAA has apartments in London!</figcaption> 
  </figure>
</div>

<div id="welcome-banner">
  <h1>Roommatch</h1></br>
  <h3 style="margin-top:0"><a href="http://www.studyabroadapartments.com/">by Study Abroad Apartments</a></h3>
</div>
<!-- <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true"
    style="left: 50%; margin-right: -50%;">
  </div> -->
<p><a class="btn btn-primary btn-lg" href="/users" role="button" style="margin: 5% 42%">Find A Roommate</a></p>
</div>

<!-- add picture, background -->
<!-- <a href="/users/sign_up"><button>Sign Up</button></a>
<a href="/users/sign_in"><button>Log In</button></a> -->